<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
    <meta name="description" content="Best-rated industry experts and real world experienced professionals to crack University Admissions, get right Career Advice, help Settle Abroad, upgrade Job Skills">
    <link rel="icon" type="image/x-icon" href="https://leverageedu.com/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Leverage Edu - World's leading platform for Higher Education & Career Growth</title>
  </head>
  <body>
       
<video autoplay muted loop  id="myVideo" >
  <source src="https://le02uploads.s3.amazonaws.com/uploads/cover.mp4" type="video/mp4">
</video>
<div class="contentget1"></div>
<div class="content">
  <nav class="navbar navbar-expand-lg content navbar-inner navbar-default">
  <a class="navbar-brand" href="#">
    <img _ngcontent-leverageedu-c4="" alt="leverageedu logo_white" id="leverage_logo" src="https://leverageedu.com/assets/img/logo.svg" style="height: 70px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-itemshift" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle whitecolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          How we Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">For School Students</a>
          <a class="dropdown-item " href="#">For University Student</a>
          <a class="dropdown-item " href="#">For Working Professionals</a>
        </div>
      </li>
      <li class="nav-item dropdown margin-left">
        <a class="nav-link dropdown-toggle whitecolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Destination
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Action</a>
          <a class="dropdown-item " href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown margin-left">
        <a class="nav-link  dropdown-toggle whitecolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Test
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown margin-left">
        <a class="nav-link dropdown-toggle whitecolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resource
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Action</a>
          <a class="dropdown-item " href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <button class="btn btn-light margin-left navbar-inner whitecolor">Track Deadlines</button>
      <button class="btn btn-primary margin-left">Login/SignUP</button>
    </ul>
    
  </div>
</nav>
</div>
