<div id="secondselect">
<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
<center>

  <!-- sorry i use the same image -->
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  
</center>

    </div>
    <div class="carousel-item">
       <center>

  <!-- sorry i use the same image -->
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  
</center>
    </div>
    <div class="carousel-item">
       <center>

  <!-- sorry i use the same image -->
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  	<div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div><div class="col-lg-3">
  		<img  src="https://s3.ap-south-1.amazonaws.com/leverageedu/assets/img/home/univeristies-logo/brunel_university_london.png" height="70px">
  	</div>
  </div>
</center>

    </div>
  </div>

  
</div>
</div>